/* *{
    background-color: aliceblue;
} */
.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-list h1{
    color:rgb(133, 8, 8);
}

.movie-display{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}


.movie-display h1{
    text-align: center;
    color: black;
}

img{
    width: 400px;
    height:500px;
}

.container{
    display: flex;
    width:100%;
}